<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Weather ChatBot</title>
</head>
<body>
<div class="chatBox">

        <div class="response" id=0>Bot loaded. Type a message and press enter.</div>

</div>
<form autocomplete="off" class="myform" name="myform">
<input autocomplete="off" class="w3-input" type="text" name="user_query" placeholder="Input your message" autofocus="true">
</form>
<script src="/js/bind.js">




</script>
</body>
</html>